<p>Add comment below:</p>
<% if (errors && errors.length) { %>
  <p>Please, correct the following:</p>
  <ul>
  <% for (var i in errors) { %>
    <li><%= errors[i].message %></li>
  <% } %>
  </ul>
<% } %>
<form method="post" action="/quizes/<%= quizID %>/comments">
  <label>Comment: </label>
  <input type="text" name="comment[text]" value="Add your comment here"/>
  <a href="/quizes"><button type="button">Cancel</button></a>
  <input type="submit" value="Send"/>
</form>
