<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="mario.png" type="image/png" />
  </head>
  <body>
    <header>
      <h2>Quiz: the game of questions</h2>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/quizes/question">Play</a></li>
      </ul>
    </nav>
    <main>
      <%- body %>
    </main>
    <aside>Aside element</aside>
    <footer>
      <a href="https://en.wikipedia.org/wiki/Quiz"><em>What is a quiz?</em></a>
    </footer>
  </body>
</html>
